/*   ___       __             __       ___      ___   ___  __    __       _______.    _______  __    __
    /   \     |  |           |  |     /   \     \  \ /  / |  |  |  |     /       |   |   ____||  |  |  |
   /  ^  \    |  |           |  |    /  ^  \     \  V  /  |  |  |  |    |   (----`   |  |__   |  |  |  |
  /  /_\  \   |  |     .--.  |  |   /  /_\  \     >   <   |  |  |  |     \   \       |   __|  |  |  |  |
 /  _____  \  |  `----.|  `--'  |  /  _____  \   /  .  \  |  `--'  | .----)   |    __|  |____ |  `--'  |
/__/     \__\ |_______| \______/  /__/     \__\ /__/ \__\  \______/  |_______/    (__)_______| \______/
*/
/*
///////////////////////////////////////////////////////////
////////////////////// FOOTER STYLING /////////////////////
///////////////////////////////////////////////////////////
*/
footer {
	background-color: rgba(38, 166, 91, 0.95) !important;
	padding-top: 0 !important;
}
footer .row {
	margin-bottom: 0 !important;
}
footer .footer-copyright {
	padding: 6px 0px !important;
}

/*
// Preloader toggler
*/

#footer .togglePreloader p {
	margin-bottom: 2px;
}
#footer .togglePreloader label {
	color: #fff;
	font-size: 15px;
}

/*
// Font selector
*/
#footer .fontSelector {

}
#footer .fontSelector label {
	color: #fff;
}
