/*   ___       __             __       ___      ___   ___  __    __       _______.    _______  __    __
    /   \     |  |           |  |     /   \     \  \ /  / |  |  |  |     /       |   |   ____||  |  |  |
   /  ^  \    |  |           |  |    /  ^  \     \  V  /  |  |  |  |    |   (----`   |  |__   |  |  |  |
  /  /_\  \   |  |     .--.  |  |   /  /_\  \     >   <   |  |  |  |     \   \       |   __|  |  |  |  |
 /  _____  \  |  `----.|  `--'  |  /  _____  \   /  .  \  |  `--'  | .----)   |    __|  |____ |  `--'  |
/__/     \__\ |_______| \______/  /__/     \__\ /__/ \__\  \______/  |_______/    (__)_______| \______/
*/
/*
///////////////////////////////////////////////////////////
/////////////////////// NAVBAR STYLING ////////////////////
///////////////////////////////////////////////////////////
*/
nav {
	background-color: rgba(38, 166, 91, 0.95) !important;
	padding-top: 0 !important;
}
.sidenav .user-view {
	margin-bottom: 0;
}
.sidenav>li>a,
.sidenav>li>ul>li>a {
	color: #fff;
}
.sidenav>li>a>i.material-icons,
.sidenav>li>ul>li>a>i.material-icons {
	color: rgba(255,255,255,0.90);
}
